/lib
.DS_Store
.settings/language.settings.xml
app/android/.classpath
app/android/.project
app/android/AndroidManifest.xml
app/android/res/raw/
app/android/.idea/
build.log
build_android/
rtabmap_cloud.pcd
rtabmap_trajectory.txt

